.site-footbar {
	background-color: $site-footer-bg;
	padding-bottom: 40px;
}

.site-footer {
	background-color: $site-footer-bg;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 70px;
	&::before {
		content: "";
		border-top: 1px solid #FFF;
		opacity: .3;
		display: block;
		height: 1px;
		width: 82%;
		position: absolute;
		top: 0;
		left: 9%;
	}
}
.site-info {
	color: $site-footer-color;
	font-size: .8em;
	font-weight: 300;
	padding: 25px 0;
	text-align: center;
	text-transform: uppercase;
}

.site-footbar a:hover {
	opacity: 0.8
}
.site-footbar a:active {
	opacity: 0.6
}
.site-footbar .widget {
	margin-bottom: 0
}
.site-footbar p:last-of-type{
	margin-bottom: 0
}
.site-footer-space {
	min-height: 40px;
}

// elementor
.site-footbar {
	.elementor-heading-title {
		color: #FFF !important;
		font-family:  $heading-font !important;
		font-size: 1.3em !important;
		margin-bottom: 50px !important;
		&::after {
			content: "";
			border-bottom: 3px solid #FFF;
			display: block;
			height: 3px;
			width: 50px;
			opacity: .3;
			position: absolute;
			bottom: -30px;
		}
	}
	.elementor-widget-text-editor {
		color: $site-footer-color;
		font-family: $body-font;
		font-size: .9em !important;
		line-height: 1.4 !important;
		a {
			color: $site-footer-color !important;
		}
	}
	.elementor-widget-icon-list .elementor-icon-list-text {
		color: $site-footer-color;
		font-family: $body-font;
		font-size: 1.2em !important;
	}
	.elementor-icon-list-icon {
		margin-top: 4px;
		text-align: left !important;
		width: 14px !important;
	}
}


.contact-bar {
	.elementor-widget-icon-box {
		background-size: 45px 45px;
		background-repeat:  no-repeat;
		background-position: center left;
		padding: 5px 0 5px 55px;
	}
	.tel {
		background-image: url(#{$imgpath}/icon-mobile.png);
	}
	.line {
		background-image: url(#{$imgpath}/icon-line.png);
		background-size: 93px 45px;
		padding-left: 103px;
	}
	.facebook {
		background-image: url(#{$imgpath}/icon-facebook.png);
	}
	.elementor-icon-box-content {
		font-size: 1.2em;
	}
	.elementor-icon-box-title {
		color: $purple !important;
		font-family: $heading-font !important;
		font-size: 1.1em;
		line-height: 1;
		margin-bottom: 0;
	}
	.elementor-icon-box-description {
		color: $purple !important;
		font-family: $heading-font !important;
		line-height: 1.3;
		white-space: nowrap;
	}
	.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
		padding: 0;
	}
}